@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-weight: 400;
}

main {
  padding: 20px 0;
}

header {
  border-bottom: solid 1px #ddd;
}

.row {
  max-width: 90%;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo img {
  height: 50px;
  width: 50px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.nav-list-item a {
  color: #007bff;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: solid 2px transparent;
}

.nav-list-item a.active-link {
  border-bottom: solid 2px #007bff;
}

.rocket {
  display: flex;
  gap: 2rem;
  margin-bottom: 10px;
}

.rocket-img-wrapper {
  flex: 0 1 20%;
}

.rocket-img {
  width: 100%;
}

.rocket-details {
  flex: 2;
}

.reserve-btn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-family: inherit;
  border-radius: 4px;
  margin-top: 10px;
}